# <u>ĐỒ ÁN CUỐI KÌ:</u> MÔN LẬP TRÌNH KHOA HỌC DỮ LIỆU
# <u>ĐỀ TÀI:</u>  PHÂN TÍCH ĐIỂM THI THPT QUỐC GIA NĂM 2017, 2019

## <u> GVHD:</u> TRẦN TRUNG KIÊN - PHAN THỊ PHƯƠNG UYÊN

### <u>SINH VIÊN</u>: NGUYỄN NGỌC BÌNH
### <u>MSSV</u>: 1712293

### TỔNG QUAN VỀ ĐỀ TÀI

<b><u>Đề tài:</u> Phân tích điểm thi THPT quốc gia năm 2019</b><br>
<b><u>Lí do chọn đề tài:</u></b>
<ol>Điểm thi THPT quốc gia tuy không nói lên nhiều về năng lực của đa số học sinh hay nói về trình độ chuyên môn giảng dạy của một hệ thống tỉnh thành nào đó, tuy nhiên qua đó chúng ta có thể nhìn nhận nhiều khía cạnh để nâng cao chất lượng giảng dạy của hệ thống giáo dục Việt Nam. Và hơn hết, cũng là người từng đi thi nên muốn khám phá xem mình đã trải nghiệm một kì thi như thế nào</ol>
<b><u>Dữ liệu:</u></b> Điểm thi THPT Quốc Gia hai năm 2017 và 2019

## THƯ VIỆN SỬ DỤNG TRONG ĐỒ ÁN

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### A. THU THẬP DỮ LIỆU

### I. Lí do chọn dữ liệu:
<ol> Chọn 2 năm thi để có cái nhìn đánh giá tổng quan hơn về điểm số và không chọn năm 2018 vì có vấn đề gian lận mà mình đang muốn tìm hiểu về mặt tích cực để cải thiện nên sẽ chọn năm 2017 và 2019, là những năm gần đây nhất</ol>
<ol>Dữ liệu này chọn sẽ không ảnh hướng tới bất kì một ai vì đã được công bố công khai nên mình nghĩ là thế và mình sẽ che những thông tin cá nhân một cách ổn thỏa nhất và không ảnh hưởng tới một ai</ol>

### II. Thu thập dữ liệu
<ol> Dữ liệu có hai bộ chính là 2017 và 2019 </ol>

### 1. Thu thập dữ liệu năm 2017
<ul><u>Nguồn tải dữ liệu: </u> https://vov.vn/xa-hoi/giao-duc/cap-nhat-diem-thi-thpt-quoc-gia-nam-2017-o-cac-dia-phuong-643262.vov<br></ul>
<ul>
    <u>Quy trình tải dữ liệu:</u> 
    <ol> Đầu tiên tải hết dữ liệu điểm thi THPT năm 2017 ở các tỉnh thành về</ol>
    <ol> Dùng thư viện <b>glob</b> để đọc tên file rồi dùng read_Excel để đọc file exel</ol>
    <ol>Sau đó tiến hành xóa thông tin cá nhân và xây dựng có cột điểm từ dữ liêu đã có</ol>
    <ol>Dùng thư viện <b>pandas </b> để lưu file và chuẩn bị cho bài toán </ol>
</ul>

### 2. Thu thập dữ liệu năm 2019

<ul><u>Nguồn tải dữ liệu: </u> https://github.com/beecost/bee-university<br>
<u>Quy trình tải dữ liệu:</u>
<ul>
    <ol>Do đã tìm được 1 file csv chứa toàn bộ điểm năm 2019 nên không cần phải chạy như dữ liệu 2017 nữa mà sẽ xử lí cho nó phù hợp lại</ol>
    <ol>Viết lại cho đồng bộ các cột và xóa vài cột không cần thiết như cột <u>index</u> và cột <u>Ma_mon_ngoai_ngu</u></ol>
</ul>
    <ul>

## B. CHUẨN BỊ DỮ LIỆU

### <ul>I. Xử lí bộ dữ liệu năm 2017 </ul>

In [21]:
diem2017_df = pd.read_csv('diemTHPT2017.csv')
diem2017_df

,SOBAODANH,Tỉnh Thành,Toán,Ngữ văn,Vật lí,Hóa học,Sinh học,KHTN,Lịch sử,Địa lí,GDCD,KHXH,Tiếng Anh
0,47006585,Bình Thuận,6.8,5.25,5.25,5.50,5.00,5.25,4.00,7.50,8.50,6.67,5.8
1,47003701,Bình Thuận,3.4,6.25,NaN,NaN,NaN,NaN,2.25,3.50,5.25,3.67,3.6
2,47007840,Bình Thuận,5.4,5.50,NaN,NaN,NaN,NaN,7.25,8.25,8.50,8.00,2.8
3,47006513,Bình Thuận,4.4,5.50,NaN,NaN,NaN,NaN,4.50,5.25,8.00,5.92,5.0
4,47000048,Bình Thuận,5.6,5.50,5.00,6.50,6.50,6.00,5.75,9.00,7.75,7.50,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
847343,2039206,TP. Hồ Chí Minh,5.4,5.00,4.75,5.25,4.50,4.83,NaN,NaN,NaN,NaN,7.2
847344,2017585,TP. Hồ Chí Minh,7.4,6.75,5.25,4.50,5.25,5.00,NaN,NaN,NaN,NaN,7.0
847345,2003325,TP. Hồ Chí Minh,6.6,4.75,4.75,6.75,3.75,5.08,NaN,NaN,NaN,NaN,3.4
847346,2043335,TP. Hồ Chí Minh,5.4,5.00,2.25,5.75,4.50,4.17,NaN,NaN,NaN,NaN,4.8
847347,2036615,TP. Hồ Chí Minh,5.8,5.75,6.50,4.50,4.75,5.25,NaN,NaN,NaN,NaN,7.2

#### <ul>Thay đổi tên cột SOBAODANH và tiếng Anh</ul>

In [22]:
diem2017_df=diem2017_df.rename(columns={'SOBAODANH':'SBD','Tiếng Anh':'Ngoại ngữ'})
diem2017_df

,SBD,Tỉnh Thành,Toán,Ngữ văn,Vật lí,Hóa học,Sinh học,KHTN,Lịch sử,Địa lí,GDCD,KHXH,Ngoại ngữ
0,47006585,Bình Thuận,6.8,5.25,5.25,5.50,5.00,5.25,4.00,7.50,8.50,6.67,5.8
1,47003701,Bình Thuận,3.4,6.25,NaN,NaN,NaN,NaN,2.25,3.50,5.25,3.67,3.6
2,47007840,Bình Thuận,5.4,5.50,NaN,NaN,NaN,NaN,7.25,8.25,8.50,8.00,2.8
3,47006513,Bình Thuận,4.4,5.50,NaN,NaN,NaN,NaN,4.50,5.25,8.00,5.92,5.0
4,47000048,Bình Thuận,5.6,5.50,5.00,6.50,6.50,6.00,5.75,9.00,7.75,7.50,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
847343,2039206,TP. Hồ Chí Minh,5.4,5.00,4.75,5.25,4.50,4.83,NaN,NaN,NaN,NaN,7.2
847344,2017585,TP. Hồ Chí Minh,7.4,6.75,5.25,4.50,5.25,5.00,NaN,NaN,NaN,NaN,7.0
847345,2003325,TP. Hồ Chí Minh,6.6,4.75,4.75,6.75,3.75,5.08,NaN,NaN,NaN,NaN,3.4
847346,2043335,TP. Hồ Chí Minh,5.4,5.00,2.25,5.75,4.50,4.17,NaN,NaN,NaN,NaN,4.8
847347,2036615,TP. Hồ Chí Minh,5.8,5.75,6.50,4.50,4.75,5.25,NaN,NaN,NaN,NaN,7.2

### II. Xử lí bộ dữ liệu năm 2019

In [12]:
diem2019_df =pd.read_csv('diemthi2019.csv')
diem2019_df

,Unnamed: 0,Dia,GDCD,Hoa,Li,Ma_mon_ngoai_ngu,Ngoai_ngu,Sinh,Su,Toan,Van,sbd
0,0,7.75,8.75,NaN,NaN,N1,7.6,NaN,8.25,8.2,8.00,24008611
1,1,NaN,NaN,4.5,8.25,N1,8.0,6.00,NaN,8.6,6.17,51000032
2,2,4.25,5.75,NaN,NaN,NaN,NaN,NaN,4.00,5.2,4.75,51000005
3,3,4.75,5.00,NaN,NaN,NaN,NaN,NaN,2.25,4.4,4.50,51000021
4,4,8.25,7.50,NaN,NaN,N1,4.4,NaN,7.75,5.8,6.00,51000013
...,...,...,...,...,...,...,...,...,...,...,...,...
811846,811846,5.75,8.50,NaN,NaN,N1,3.4,NaN,4.50,4.4,4.75,26019104
811847,811847,NaN,NaN,4.5,3.75,N1,4.4,4.00,NaN,5.2,6.25,26019102
811848,811848,5.50,8.00,NaN,NaN,N1,2.8,NaN,5.50,2.8,5.00,26019099
811849,811849,6.75,8.50,NaN,NaN,N1,4.0,NaN,3.50,6.2,7.25,26019101
811850,811850,NaN,NaN,4.5,5.25,N1,2.2,3.75,NaN,6.4,5.75,26019097

#### <ul> Xóa 2 Unnamed: 0 và Ma_mon_ngoai_ngu:
<ul><ul>  Có lẽ sẽ có nhiều môn được xem là ngoại ngữ như tiếng Anh, Pháp,... nhưng ở đây mình xem xét chung là 1 môn và gọi là ngoại ngữ  </ul></ul></ul>

In [15]:
diem2019_df= diem2019_df.drop(diem2019_df.columns[[0,5]], axis=1)
diem2019_df

         Dia  GDCD  Hoa    Li  Ngoai_ngu  Sinh    Su  Toan   Van       sbd
0       7.75  8.75  NaN   NaN        7.6   NaN  8.25   8.2  8.00  24008611
1        NaN   NaN  4.5  8.25        8.0  6.00   NaN   8.6  6.17  51000032
2       4.25  5.75  NaN   NaN        NaN   NaN  4.00   5.2  4.75  51000005
3       4.75  5.00  NaN   NaN        NaN   NaN  2.25   4.4  4.50  51000021
4       8.25  7.50  NaN   NaN        4.4   NaN  7.75   5.8  6.00  51000013
...      ...   ...  ...   ...        ...   ...   ...   ...   ...       ...
811846  5.75  8.50  NaN   NaN        3.4   NaN  4.50   4.4  4.75  26019104
811847   NaN   NaN  4.5  3.75        4.4  4.00   NaN   5.2  6.25  26019102
811848  5.50  8.00  NaN   NaN        2.8   NaN  5.50   2.8  5.00  26019099
811849  6.75  8.50  NaN   NaN        4.0   NaN  3.50   6.2  7.25  26019101
811850   NaN   NaN  4.5  5.25        2.2  3.75   NaN   6.4  5.75  26019097

[811851 rows x 10 columns]

#### <ul>Đổi tên các cột cho giống với 2017_df </ul>

In [19]:
diem2019_df=diem2019_df.rename(columns={'Dia': 'Địa lí', 'Hoa': 'Hóa học','Li':'Vật lí','Ngoai_ngu':'Ngoại ngữ','Sinh':
                       'Sinh học','Su':'Lịch sử','Toan':'Toán','Van':'Ngữ văn','sbd':'SBD'})

#### <ul>Thêm hai cột tính điểm KHXH và KHTN của thí sinh</ul>

In [25]:
diem2019_df['KHTN']=round((diem2019_df['Hóa học'] + diem2019_df['Vật lí'] + diem2019_df['Sinh học'])/3,2)
diem2019_df['KHXH']=round((diem2019_df['Địa lí'] + diem2019_df['Lịch sử'] + diem2019_df['GDCD'])/3,2)
diem2019_df

,Địa lí,GDCD,Hóa học,Vật lí,Ngoại ngữ,Sinh học,Lịch sử,Toán,Ngữ văn,SBD,KHTN,KHXH
0,7.75,8.75,NaN,NaN,7.6,NaN,8.25,8.2,8.00,24008611,NaN,8.25
1,NaN,NaN,4.5,8.25,8.0,6.00,NaN,8.6,6.17,51000032,6.25,NaN
2,4.25,5.75,NaN,NaN,NaN,NaN,4.00,5.2,4.75,51000005,NaN,4.67
3,4.75,5.00,NaN,NaN,NaN,NaN,2.25,4.4,4.50,51000021,NaN,4.00
4,8.25,7.50,NaN,NaN,4.4,NaN,7.75,5.8,6.00,51000013,NaN,7.83
...,...,...,...,...,...,...,...,...,...,...,...,...
811846,5.75,8.50,NaN,NaN,3.4,NaN,4.50,4.4,4.75,26019104,NaN,6.25
811847,NaN,NaN,4.5,3.75,4.4,4.00,NaN,5.2,6.25,26019102,4.08,NaN
811848,5.50,8.00,NaN,NaN,2.8,NaN,5.50,2.8,5.00,26019099,NaN,6.33
811849,6.75,8.50,NaN,NaN,4.0,NaN,3.50,6.2,7.25,26019101,NaN,6.25
811850,NaN,NaN,4.5,5.25,2.2,3.75,NaN,6.4,5.75,26019097,4.50,NaN

#### <ul>Thêm cột Tỉnh Thành</ul>

In [71]:
#Tạo dict các tỉnh thoe mã tỉnh
temp=diem2017_df[['SBD','Tỉnh Thành']].copy()
temp['SBD']=round(temp['SBD']/10**6)
new_dict = dict(zip(temp['SBD'].unique(), temp['Tỉnh Thành'].unique()))
location= []
location = round(diem2019_df['SBD']/10**6)
for i in range(len(location)):
    location[i]=new_dict[location[i]]
diem2019_df['Tỉnh Thành']=location
diem2019_df

,Địa lí,GDCD,Hóa học,Vật lí,Ngoại ngữ,Sinh học,Lịch sử,Toán,Ngữ văn,SBD,KHTN,KHXH,Tỉnh Thành
0,7.75,8.75,NaN,NaN,7.6,NaN,8.25,8.2,8.00,24008611,NaN,8.25,Hà Nam
1,NaN,NaN,4.5,8.25,8.0,6.00,NaN,8.6,6.17,51000032,6.25,NaN,An Giang
2,4.25,5.75,NaN,NaN,NaN,NaN,4.00,5.2,4.75,51000005,NaN,4.67,An Giang
3,4.75,5.00,NaN,NaN,NaN,NaN,2.25,4.4,4.50,51000021,NaN,4.00,An Giang
4,8.25,7.50,NaN,NaN,4.4,NaN,7.75,5.8,6.00,51000013,NaN,7.83,An Giang
...,...,...,...,...,...,...,...,...,...,...,...,...,...
811846,5.75,8.50,NaN,NaN,3.4,NaN,4.50,4.4,4.75,26019104,NaN,6.25,Thái Bình
811847,NaN,NaN,4.5,3.75,4.4,4.00,NaN,5.2,6.25,26019102,4.08,NaN,Thái Bình
811848,5.50,8.00,NaN,NaN,2.8,NaN,5.50,2.8,5.00,26019099,NaN,6.33,Thái Bình
811849,6.75,8.50,NaN,NaN,4.0,NaN,3.50,6.2,7.25,26019101,NaN,6.25,Thái Bình
811850,NaN,NaN,4.5,5.25,2.2,3.75,NaN,6.4,5.75,26019097,4.50,NaN,Thái Bình

#### <u>Nhận xét: </u> Tạo sao không có mã tỉnh là 20 nhỉ ???

## C. ĐẶT CÂU HỎI

<ul>Xung quanh điểm thi THPT mỗi năm luôn có vô vàn câu hỏi được đặt ra và bộ dữ liệu trên là một điều thật hay ho để khám phá, vậy chúng ta thử đặt vài câu hỏi để trả lời thông qua việc phân tích dữ liệu thử xem </ul>

### <ul><u>Câu hỏi 1:</u> Một việc hết sức được cộng đồng quan tâm đó là chất lượng giáo dục trong những năm gần đây, vậy mình cũng trả lời tỉnh thành nào mạnh hay yếu về môn nào thôi </ul>

### <ul> <u>Câu hỏi 2:</u> Năm 2017 được xem là năm mà đề dễ hơn nhiều so với năm 2019, vậy thử tìm hiểu xem đề năm nào dễ hơn và dễ để tốt nghiệp hay dễ để đậu đại học </ul>

### <ul><u>Câu hỏi 3:</u> Mình có thể dự đoán được điểm chuẩn năm 2019 khi biết điểm chuẩn năm 2017, 2018 và chất lượng đề của năm 2017 so với năm 2018 được không?</ul>

### D.PHÂN TÍCH DỮ LIỆU VÀ TÌM RA LỜI GIẢI

## E. KẾT LUẬN