In [1]:
import pandas as pd
import numpy as np
from pandas import ExcelFile
import glob

In [2]:
file_name=glob.glob("*.xls")

In [3]:
prov_name =['Bình Thuận','Cà Mau','Lâm Đồng','Sóc Trăng','Bình Dương','Lào Cai','Bến Tre','Long An', 'Nam Định','Trà Vinh',
           'Nghệ An','Phú Thọ','Quảng Bình','Quảng Nam','Quảng Ngãi','Đà Nẵng','Hà Nội','Sơn La','Tuyên Quang','Bắc Kạn',
           'Hà Giang','Ninh Thuận','Thanh Hóa','Vĩnh Phúc','Bắc Giang','Bình Phước','Cao Bằng','Đồng Tháp','Thừa Thiên Huế',
           'An Giang','Bắc Ninh','Bình Định','Điện Biên','Lạng Sơn','Bạc Liêu','Gia Lai','Hải Dương','Hà Nam','Yên Bái',
           'Đồng Nai','Hậu Giang','Hòa Bình','Ninh Bình','Quảng Ninh','Hà Tĩnh','Hưng Yên','Kon Tum','Tiền Giang','Cần Thơ',
           'Đắk Lắk','Kiên Giang','Phú Yên','Đắk Nông','Khánh Hòa','Lai Châu','Vĩnh Long','Bà Rịa Vũng Tàu','Hải Phòng',
           'Quảng Trị','Tây Ninh','Thái Bình','Thái Nguyên','TP. Hồ Chí Minh']

In [4]:
df =pd.read_excel(file_name[0])
df['Tỉnh Thành']=prov_name[0]

In [5]:
for i in  range(1,len(file_name)):
    temp_df = pd.read_excel(file_name[i])
    temp_df['Tỉnh Thành']=prov_name[i]
    df=pd.concat([df,temp_df],ignore_index=True)

In [6]:
df = df.drop(df.columns[[0, 1]], axis=1)
df.head()

   SOBAODANH                                           DIEM_THI  Tỉnh Thành
0   47006585  Toán:   6.80   Ngữ văn:   5.25   Vật lí:   5.2...  Bình Thuận
1   47003701  Toán:   3.40   Ngữ văn:   6.25   Lịch sử:   2....  Bình Thuận
2   47007840  Toán:   5.40   Ngữ văn:   5.50   Lịch sử:   7....  Bình Thuận
3   47006513  Toán:   4.40   Ngữ văn:   5.50   Lịch sử:   4....  Bình Thuận
4   47000048  Toán:   5.60   Ngữ văn:   5.50   Vật lí:   5.0...  Bình Thuận

In [7]:
df['DIEM_THI']=df['DIEM_THI'].str.replace('H: ','H:   ')
df['DIEM_THI']=df['DIEM_THI'].str.replace('N: ','N:   ')
df['DIEM_THI']=df['DIEM_THI'].str.replace('  10.00','   10.0')

In [8]:
df['DIEM_THI']=df['DIEM_THI'].str.split('   ')

In [24]:
toan=[]
van=[]
li=[]
hoa=[]
sinh=[]
khtn=[]
su=[]
dia=[]
cd=[]
khxh=[]
anh=[]

In [10]:
def create_value(point,name,arr):
    try:
        i = point.index(name)
        arr.append(point[i+1])
    except:
        arr.append('')

In [13]:
for point in df['DIEM_THI']:
    create_value(point,'Toán:',toan)
    create_value(point,'Ngữ văn:',van)
    create_value(point,'Vật lí:',li)
    create_value(point,'Hóa học:',hoa)
    create_value(point,'Sinh học:',sinh)
    create_value(point,'KHTN:',khtn)
    create_value(point,'Lịch sử:',su)
    create_value(point,'Địa lí:',dia)
    create_value(point,'GDCD:',cd)
    create_value(point,'KHXH:',khxh)
    create_value(point,'Tiếng Anh:',anh)

In [22]:
df['Toán']=toan
df['Ngữ văn']=van
df['Vật lí']=li
df['Hóa học']=hoa
df['Sinh học']=sinh
df['KHTN']=khtn
df['Lịch sử']=su
df['Địa lí']=dia
df['GDCD']=cd
df['KHXH']=khxh
df['Tiếng Anh']=anh
print(toan[1400:1500])

['5.00', '1.60', '3.60', '4.40', '5.40', '4.80', '4.60', '5.60', '2.80', '7.00', '4.20', '5.60', '4.20', '6.40', '4.80', '5.00', '4.40', '4.60', '8.40', '7.20', '4.60', '5.20', '4.00', '3.20', '4.60', '7.20', '5.00', '5.20', '2.40', '6.20', '6.20', '4.20', '7.60', '6.60', '2.60', '4.40', '4.40', '2.40', '7.20', '7.20', '6.80', '8.00', '5.40', '4.60', '5.60', '6.20', '6.80', '8.80', '5.80', '8.80', '4.40', '8.00', '6.80', '5.60', '8.40', '5.20', '8.60', '7.20', '4.80', '4.80', '4.00', '8.00', '6.40', '6.00', '3.80', '8.60', '6.00', '4.00', '7.80', '6.60', '6.20', '7.00', '4.80', '6.60', '4.40', '5.80', '6.80', '4.40', '4.40', '4.80', '4.60', '4.20', '3.60', '3.00', '4.60', '2.80', '8.20', '3.40', '8.40', '4.40', '4.40', '3.20', '4.20', '2.40', '7.00', '3.00', '7.20', '6.80', '2.80', '5.80']

In [15]:
df

,SOBAODANH,DIEM_THI,Tỉnh Thành,Toán,Ngữ văn,Vật lí,Hóa học,Sinh học,KHTN,Lịch sử,Địa lí,GDCD,KHXH,Tiếng Anh
0,47006585,"[Toán:, 6.80, Ngữ văn:, 5.25, Vật lí:, 5.25, H...",Bình Thuận,6.80,5.25,5.25,5.50,5.00,5.25,4.00,7.50,8.50,6.67,5.80
1,47003701,"[Toán:, 3.40, Ngữ văn:, 6.25, Lịch sử:, 2.25, ...",Bình Thuận,3.40,6.25,,,,,2.25,3.50,5.25,3.67,3.60
2,47007840,"[Toán:, 5.40, Ngữ văn:, 5.50, Lịch sử:, 7.25, ...",Bình Thuận,5.40,5.50,,,,,7.25,8.25,8.50,8,2.80
3,47006513,"[Toán:, 4.40, Ngữ văn:, 5.50, Lịch sử:, 4.50, ...",Bình Thuận,4.40,5.50,,,,,4.50,5.25,8.00,5.92,5.00
4,47000048,"[Toán:, 5.60, Ngữ văn:, 5.50, Vật lí:, 5.00, H...",Bình Thuận,5.60,5.50,5.00,6.50,6.50,6,5.75,9.00,7.75,7.5,5.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847343,2039206,"[Toán:, 5.40, Ngữ văn:, 5.00, Vật lí:, 4.75, H...",TP. Hồ Chí Minh,5.40,5.00,4.75,5.25,4.50,4.83,,,,,7.20
847344,2017585,"[Toán:, 7.40, Ngữ văn:, 6.75, Vật lí:, 5.25, H...",TP. Hồ Chí Minh,7.40,6.75,5.25,4.50,5.25,5,,,,,7.00
847345,2003325,"[Toán:, 6.60, Ngữ văn:, 4.75, Vật lí:, 4.75, H...",TP. Hồ Chí Minh,6.60,4.75,4.75,6.75,3.75,5.08,,,,,3.40
847346,2043335,"[Toán:, 5.40, Ngữ văn:, 5.00, Vật lí:, 2.25, H...",TP. Hồ Chí Minh,5.40,5.00,2.25,5.75,4.50,4.17,,,,,4.80
847347,2036615,"[Toán:, 5.80, Ngữ văn:, 5.75, Vật lí:, 6.50, H...",TP. Hồ Chí Minh,5.80,5.75,6.50,4.50,4.75,5.25,,,,,7.20

In [40]:
df = df.drop(df.columns[[1]], axis=1)
df

,SOBAODANH,Tỉnh Thành,Toán,Ngữ văn,Vật lí,Hóa học,Sinh học,KHTN,Lịch sử,Địa lí,GDCD,KHXH,Tiếng Anh
0,47006585,Bình Thuận,6.80,5.25,5.25,5.50,5.00,5.25,4.00,7.50,8.50,6.67,5.80
1,47003701,Bình Thuận,3.40,6.25,,,,,2.25,3.50,5.25,3.67,3.60
2,47007840,Bình Thuận,5.40,5.50,,,,,7.25,8.25,8.50,8,2.80
3,47006513,Bình Thuận,4.40,5.50,,,,,4.50,5.25,8.00,5.92,5.00
4,47000048,Bình Thuận,5.60,5.50,5.00,6.50,6.50,6,5.75,9.00,7.75,7.5,5.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
847343,2039206,TP. Hồ Chí Minh,5.40,5.00,4.75,5.25,4.50,4.83,,,,,7.20
847344,2017585,TP. Hồ Chí Minh,7.40,6.75,5.25,4.50,5.25,5,,,,,7.00
847345,2003325,TP. Hồ Chí Minh,6.60,4.75,4.75,6.75,3.75,5.08,,,,,3.40
847346,2043335,TP. Hồ Chí Minh,5.40,5.00,2.25,5.75,4.50,4.17,,,,,4.80
847347,2036615,TP. Hồ Chí Minh,5.80,5.75,6.50,4.50,4.75,5.25,,,,,7.20

In [41]:
df.to_csv('diemTHPT2017.csv',index=False,encoding='utf-8-sig')

In [42]:
result = pd.read_csv('diemTHPT2017.csv')
result

,SOBAODANH,Tỉnh Thành,Toán,Ngữ văn,Vật lí,Hóa học,Sinh học,KHTN,Lịch sử,Địa lí,GDCD,KHXH,Tiếng Anh
0,47006585,Bình Thuận,6.8,5.25,5.25,5.50,5.00,5.25,4.00,7.50,8.50,6.67,5.8
1,47003701,Bình Thuận,3.4,6.25,NaN,NaN,NaN,NaN,2.25,3.50,5.25,3.67,3.6
2,47007840,Bình Thuận,5.4,5.50,NaN,NaN,NaN,NaN,7.25,8.25,8.50,8.00,2.8
3,47006513,Bình Thuận,4.4,5.50,NaN,NaN,NaN,NaN,4.50,5.25,8.00,5.92,5.0
4,47000048,Bình Thuận,5.6,5.50,5.00,6.50,6.50,6.00,5.75,9.00,7.75,7.50,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
847343,2039206,TP. Hồ Chí Minh,5.4,5.00,4.75,5.25,4.50,4.83,NaN,NaN,NaN,NaN,7.2
847344,2017585,TP. Hồ Chí Minh,7.4,6.75,5.25,4.50,5.25,5.00,NaN,NaN,NaN,NaN,7.0
847345,2003325,TP. Hồ Chí Minh,6.6,4.75,4.75,6.75,3.75,5.08,NaN,NaN,NaN,NaN,3.4
847346,2043335,TP. Hồ Chí Minh,5.4,5.00,2.25,5.75,4.50,4.17,NaN,NaN,NaN,NaN,4.8
847347,2036615,TP. Hồ Chí Minh,5.8,5.75,6.50,4.50,4.75,5.25,NaN,NaN,NaN,NaN,7.2

In [43]:
result['Toán'].max()

10.0